<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Knock Your Socks Off</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/assets/css/reset.css' />
    <link rel='stylesheet' href='/assets/css/style.css' />
  </head>

  <body>
    <header>
        <img src="../assets/socks/blackground.jpg" alt="white striped 80s sock on black background" class="blackground"</img>
        <h1>
          <a href='/' class="title">Sock Chat</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/'>Homepage</a>
            |
            <button class='no-button' id='logout'>Log out</button>
          {{else}}
            <a href='/login'>Sock it to me! (Log in)</a>
          {{/if}}
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

    <script src='{{getEnvUrl}}'></script>
    <script> var socket = io(); </script>
  </body>

</html>